@model Quipu_Task.Models.ClientInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
          Презиме
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
           Емаил
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Адреса на живеалиште
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            Адреса на живеалиште 2
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress2)
        </dd>
        <dt class = "col-sm-2">
           Дата на раѓање
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientId">Едитирај</a> |
    <a asp-action="Index">Врати се назад</a>
</div>
